body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('./maroon.jpg'); 
    /* replace with your image's URL */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.auth-form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    /* text-align: center; */
}

.auth-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form label {
    font-size: 1rem;
    margin-bottom: 5px;
    color: #333;
}

.login-form input[type="email"],
.login-form input[type="password"],
.login-form input[type="text"],
.login-form button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    font-size: 1rem;
    min-width: 250px;
    /* Adjust this value as needed */
}

.login-form button {
    background-color: #881c1c;
    color: #fff;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #6ba539;
}

.toggle-form {
    background: none;
    border: none;
    color: #212721;
    text-decoration: none;
    cursor: pointer;
    margin-top: 20px;
}

.toggle-form:hover {
    color: #0056b3;
}

.fade-enter {
    max-height: 0;
    overflow: hidden;
}

.fade-enter-active {
    max-height: 500px;
    /* adjust this as needed */
    transition: max-height 300ms ease-in-out;
    overflow: hidden;
}

.fade-exit {
    max-height: 500px;
    /* same as the enter-active max-height */
    overflow: hidden;
}

.fade-exit-active {
    max-height: 0;
    transition: max-height 300ms ease-in-out;
    overflow: hidden;
}