@font-face {
    font-family: "MuseoSans";
    font-style: normal;
    font-weight: normal;
    src: local("MuseoSans-Regular"), url("./museosans-300.ttf") format("truetype");
}

body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'Museo Sans', sans-serif;
    background-color: #e3e2df;
    background-image: none;
}