body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: '-apple-system', system-ui, -apple-system, BlinkMacSystemFont;
    background-color: #e3e2df;
    background-image: none;
}