/* This won't be used until we start using Tailwind. */

@font-face {
    font-family: 'Museo Sans';
    src: url('../public/fonts/museosans_300.woff2') format('woff2'),
        url('../public/fonts/museosans_300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans';
    src: url('../public/fonts/museosans_500.woff2') format('woff2'), 
        url('../public/fonts/museosans_500.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans';
    src: url('../public/fonts/museosans_700.woff2') format('woff2')
        url('../public/fonts/museosans_700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}